@import "tailwindcss";

:root {
  --background: rgb(20, 152, 181);
  --foreground: rgb(23, 23, 23);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(10, 10, 10);
    --foreground: rgb(237, 237, 237);
  }
}

body {
  margin: 0 auto;
  padding: 20px 100px 0px; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  background: var(--background);
  color: var(--foreground);
}

.content-wrapper {
  flex: 1;
}
